.section_container {
  padding: 2.5rem 1.5rem;
}

.section_container > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 2rem;
}

.section_container > header > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

.section_container article:not(.article_card) {
  margin-block-start: 2.5rem;
  margin-block-end: 2.5rem;
}

.section_container article:last-of-type {
  margin-block-end: 0;
}

@media (min-width: 768px) {

  .section_container {
    padding: 5rem 5rem;
  }

  .section_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
  }
}

@media (min-width: 1160px) {

  .section_container article:not(.article_card) {
    margin: 0;
  }

  .section_container #section_more_news {
    padding: 0;
  }

}
