#section_trending article {
  background-color: #fff;
}
@media (min-width: 768px) {

  #section_trending {
  grid-template-areas:
    "header header"
    "article1 article2";
  }
  section > header {
    grid-area: header;
  }
  .article_swatch:nth-of-type(1) {
    grid-area: article1;
  }
  .article_swatch:nth-of-type(1) {
    grid-area: article2;
  }

}
