#section_trending article {
  background-color: #fff;
}
@media (min-width: 768px) {

  #section_trending {
  grid-template-areas:
    "header header"
    "article2 article1";
  }

  section > header {
    grid-area: header;
  }

}

@media (min-width: 1160px) {

  #section_trending {
    grid-area: section_trending;
  }

  #section_trending {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "header header header"
    "article1 article2 article3"
    ;
    padding-inline-start: 8rem;
    padding-inline-end: 5rem;
    padding-block-start: 5rem;
    padding-block-start: 5rem;
  }

}
