#section_more_news {
  background-color: #fff;
}

#section_more_news > header {
  padding-block-end: 2.5rem;
  border-bottom: 2px solid #EBEDED;
  margin-block-end: 2.5rem;
}

#section_more_news .article_title {
  margin-block-start: 0;
  margin-block-end: -0.625rem;
}

#section_more_news article p {
  color: #A6ADB4;
}

#section_more_news .category {
  margin-block-start: 0;
  margin-block-end: 1.25rem;
}

#section_more_news .category a {
  color: #FA6980;
}


@media (min-width: 768px) {

  #section_more_news {
  grid-template-areas:
    "header header"
    "article1 article2";
  }
  section > header {
    grid-area: header;
  }
  .article_longform:nth-of-type(1) {
    grid-area: article1;
  }
  .article_longform:nth-of-type(1) {
    grid-area: article2;
  }

}

@media (min-width: 1160px) {

  #section_more_news {
    grid-area: section_more_news;
    display: flex;
    flex-direction: column;
  }


}
