#section_featured article {
  padding-block-start: 2.5rem;
  padding-block-end: 2.5rem;
}

#section_featured .category {
  margin-block-start: 0;
  padding-block-end: 2.5rem;
  margin-block-end: 2.5rem;
  border-bottom: 2px solid currentColor;
  line-height: 1;
}

#section_featured .article_title {
  margin-top: -1rem;
}

#section_featured .article_image img {
  border-radius: 0;
}

#section_featured footer {
  display: none;
}

@media (min-width: 768px) {

  #section_featured article {
    padding: 5rem 5rem;
  }

}

@media (min-width: 1160px) {
  #section_featured {
    width: 720px;
    grid-area: section_featured;
  }

  #section_featured .article_card {
    padding: 8rem 6rem;
  }

}
